:root {
  overflow: hidden;
}
body {
  overflow: auto;
}
:root, body, #app {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

:root {
  background-color: var(--color-void);
  color: var(--color-t0);
  color-scheme: light dark;

  font-family: sans-serif;
}

:root {
  --color-void: #FFFFFF;
  --color-t0: #000000;
  
  --color-t1: #6C6C6C;
  --color-r0: #FFFFFF;
  --color-cover: #00000066;
  --color-separator: #BCBCBC;
  --color-surface: #F0F0F0;
  --color-ambient: #DADADA;
  --color-primary: #1E7D16;
  --color-emphasize: #D9052D;
  --color-caution: #EE7200;
  --color-caution-text: #C75E00;
  --color-tertiary: #A043BA;
  --color-outline: #d6b41b;
  
  --color-mapedge-inner: #fcc900;
  --color-mapedge-border: #000;
  --color-mapedge-hidden-inner: #41CBEC22;
  --color-mapedge-hidden-border: #FBFBFB99;
  --color-mapnum-inner: #FFF;
  --color-mapnum-border: #000;

  --color-mapselect-inner: #FBFBFB;
  --color-mapselect-border: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-void: #121212;
    --color-t0: #FBFBFB;

    --color-t1: #BCBCBC;
    --color-r0: #121212;
    --color-cover: #00000077;
    --color-separator: #7C7C7C;
    --color-surface: #272727;
    --color-ambient: #474747;
    --color-primary: #53D54B;
    --color-emphasize: #F9626D;
    --color-caution: #F88F4D;
    --color-caution-text: #F88F4D;
    --color-tertiary: #CA97DD;
    --color-outline: #d6b41b;
  }
}

.global-themed {
  border: none;
  background: transparent;
  color: inherit;
}
.global-themed.theme-ambient {
  background: var(--color-ambient);
}
.global-themed.theme-primary {
  background: var(--color-primary);
  color: var(--color-r0);
}
.global-themed.theme-caution {
  background: var(--color-caution);
  color: var(--color-r0);
}
.global-themed.theme-tertiary {
  background: var(--color-tertiary);
  color: var(--color-r0);
}
.global-themed.theme-separator {
  background: var(--color-separator);
}

a {
  color: var(--color-primary);
}
*:focus-visible, button:focus-visible {
  outline-offset: 2px;
  outline: 3px solid var(--color-outline);
}
